* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.wav binary
*.mp3 binary
*.mp4 binary
*.webm binary
*.mov binary
*.vsix binary
*.tgz binary
